* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BFD8B8;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.head {
    position: absolute;
    height: 35vmin;
    width: 30vmin;
    background-color: #D4B499;
    border-radius: 70% 70% 100% 100%;
}

.eyebrows{
    position: absolute;
    height: 4vmin;
    width: 18vmin;
    top: 10.5vmin;
    left: 6vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.leyebrow {
    display: inline-block;
    height: 4vmin;
    width: 6vmin;
    background-color: transparent;
    border-radius: 100%;
    border-top: 1.5vmin solid #000;
}

.reyebrow {
    display: inline-block;
    height: 4vmin;
    width: 6vmin;
    right: 8vmin;
    background-color: transparent;
    border-radius: 100%;
    border-top: 1.5vmin solid #000;
}

.eyes {
    position: absolute;
    height: 4vmin;
    width: 18vmin;
    top: 12vmin;
    left: 6vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.eye {
    display: inline-block;
    background-color: #fff;
    height: 4vmin;
    width: 6vmin;
    border-radius: 100%;
    box-shadow: 12vmin 0 #fff;
}

.iris {
    position: absolute;
    background-color: #523A28;
    height: 2.5vmin;
    width: 2.5vmin;
    top: 0.4vmin;
    left: 2.5vmin;
    border-radius: 100%;
    box-shadow: 12vmin 0 #523A28;
}

.pupil {
    position: absolute;
    background-color: #000;
    height: 1vmin;
    width: 1vmin;
    top: 0.7vmin;
    left: 0.9vmin;
    border-radius: 100%;
    box-shadow: 12vmin 0 #000;
}

.nose {
    position: absolute;
    background-color: transparent;
    height: 9vmin;
    width: 4vmin;
    top: 13vmin;
    left: 13.5vmin;
    border-left: 0.5vmin solid #C68B59;
    border-bottom: 0.5vmin solid #C68B59;
    border-radius: 100% 0% 50% 50%;
}

.mouth {
    position: absolute;
    height: 3.5vmin;
    width: 11vmin;
    top: 25vmin;
    left: 9.5vmin;
    background-color: #fff;
    border-radius: 20% 20% 100% 100%;
    border: 1vmin solid #b8696a;
    border-width: 0.25vmin 0.1vmin 1vmin 0.1vmin;
}

.ears {
    position: absolute;
    height: 4vmin;
    width: 36vmin;
    top: 13vmin;
    right: -3vmin;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lear {
    display: inline-block;
    height: 4vmin;
    width: 3vmin;
    background-color: #D4B499;
    border-radius: 100% 0% 0% 100%;
    border-left: 0.1vmin solid #D4B499;
}

.rear {
    display: inline-block;
    height: 4vmin;
    width: 3vmin;
    background-color: #D4B499;
    border-radius: 0% 100% 100% 0%;
    border-right: 0.1vmin solid #D4B499;
}

.hair {
    position: absolute;
    height: 20vmin;
    width: 30vmin;
    top: -2.5vmin;
    left: 0vmin;
    background-color: transparent;
    border-radius: 100% 100% 0% 0%;
    border-top: 4vmin solid #2B2B2B;
    border-left: 1vmin solid #2B2B2B;
    border-right: 1vmin solid #2B2B2B;
}

.glasses {
    position: absolute;
    height: 8.5vmin;
    width: 21vmin;
    top: 9vmin;
    left: 4.5vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lglasses {
    display: inline-block;
    height: 8.5vmin;
    width: 9vmin;
    background-color: transparent;
    border: 0.9vmin solid #2B2B2B;
    border-radius: 30% 30% 30% 30%;
}

.lglasses::before {
    content: "";
    position: absolute;
    height: 1vmin;
    width: 5vmin;
    top: 2vmin;
    left: -4vmin;
    background-color: #2B2B2B;
    transform: rotate(-25deg);
}

.lglasses::after {
    content: "";
    position: absolute;
    height: 1vmin;
    width: 4.1vmin;
    top: 1vmin;
    left: 8.5vmin;
    background-color: #2B2B2B;
}

.rglasses {
    display: inline-block;
    height: 8.5vmin;
    width: 9vmin;
    top: 9vmin;
    left: 18vmin;
    background-color: transparent;
    border: 0.9vmin solid #2B2B2B;
    border-radius: 30% 30% 30% 30%;
}

.rglasses::before {
    content: "";
    position: absolute;
    height: 1vmin;
    width: 5vmin;
    top: 2vmin;
    right: -3.9vmin;
    background-color: #2B2B2B;
    transform: rotate(25deg);
}